body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family : 'Nunito' , sans-serif;
}


.container{
    background-color: #E5E5E5;
    height: 1096px;
}


.table {
    /*margin-left: 180px;*/
    position: relative;
    top: 130px;
    margin: auto;
    max-width: 1400px;
    width: 100%;
    max-height: 520px;
    height: 100%;
    /*margin-bottom: 20px;*/
    border: 1px solid #dddddd;
    border-collapse: collapse;

}
.table th {
    font-weight: bold;
    padding: 5px;
    background:  #CBD3DE;
    border: 1px solid #dddddd;
    height: 50px;
}
.table td {
    border: 1px solid #dddddd;
    background-color: #FFFFFF;
    padding: 5px;
    height: 85px;
}



.table_name{
    font-size: 20px;
    text-align: left;
}


.HTML_tags{
    margin-left: 120px;
    position: absolute;
    top: 165px;
}


.text_area_page3{
    background-color:  #EAEEF4;
    height: 300px;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    position: relative;
    top: 160px;
    border: #EAEEF4;
}

.tag_name{
    max-height: 65px;
    max-width: 1360px;
    width: 100%;
    height: 65px;
    margin-left: 17px;
    margin-top: 13px;
    color:  #818790;
    border: #EAEEF4;

}


.tag_description{
    margin-top: 1px;
    max-height: 100px;
    max-width: 1360px;
    height: 100px;
    width: 100%;
    margin-left: 17px;
    color:  #818790;
    border: #EAEEF4;
}


.add_tag {
    height: 60px;
    width: 315px;
    background-color:  #1389E6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-left: 1070px;
   position: relative;
    bottom: 10px;
}






/*MAIN*/





/*header*/

header {
    background-color: #10376E;
    height: 120px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 180px;

}

.logo-container{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.logo_button{
    height: 81px;
    width: 132px;
    background-color: #1389E6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 19px;
    margin-left: 10px;
    font-size: 20px;
}


.logo_title{
    align-items: center;
    display: flex;
    margin-left: 27px;
    font-size: 20px;
}


.title{
    width: 236px;
    height: 66px;
}


.menu_conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
}

.menu_button{
    text-indent: 100px;
    font-size: 20px;
    cursor: pointer;
}


.menu_button_1{
    text-indent: 100px;
    font-size: 20px;
    text-decoration: 5px underline #37ABFF ;
    cursor: pointer;
}



/*footer*/

footer{
    height: 166px;
    background-color: #E1E8F1;
}

.logo-container1{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.logo_button1{
    height: 69px;
    width: 112px;
    background-color: #1389E6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 19px;
    margin-left: 10px;
    color: white;
}


.logo_title1{
    align-items: center;
    display: flex;
    margin-left: 27px;
}


.title1{
    width: 1000px;
    height: 50px;
    margin-bottom: 60px;
}


.button_ok_submit{

}

.button_ok{
    background-color: #0B1F3A;
    height: 60px;
    width: 240px;
    margin-left: 50px;
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agreement{
    margin-top: 46px;
    margin-left: 70px;
    text-decoration: underline;
}


.year{
    text-decoration: underline;
}